* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 145px;
}
/** container encabezado*/
.section-encabezado {
    background-image: url(imagenes/bg-contacto.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(60, 60, 60);
    background-blend-mode: soft-light;
    height: 40vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-encabezado {
    font-size: 4rem;
    margin-bottom: 20px;
}
/**------------------------*/

.section-contacto{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
/** The CSS for the `.container-reseña` class. */
.container-reseña{
    width: 70%;
}
.container-reseña h1{
    display: inline-block;
    padding: 0 0 10px;
    margin-left: 20px;
    font-size: 2rem;
    margin-bottom: 15px;
    border-bottom: 2px solid gold;
}
.container-reseña h3, p{
    margin-left: 20px;
    padding: 5px 0;
    width: 80%;
}
.container-reseña p{
    margin-bottom: 20px;
}
/**---------------------------------------------*/

.horario{
    margin: 0;
}
.item-horario{
    display: flex;
    list-style: none;
    margin: 0;
}
.item-horario span{
    margin-right: 15px;
}