* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 145px;
}

/** container encabezado*/
.section-encabezado {
    background-image: url(imagenes/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(60, 60, 60);
    background-blend-mode: soft-light;
    height: 40vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-encabezado {
    font-size: 4rem;
    margin-bottom: 20px;
}

/**------------------------*/

/** seccion de servicios*/

.servicios {
    display: flex;
    justify-content: space-around;
    /* width: 90%; */
    margin: 0 auto;
    /* background-color: green; */

}

.servicios li {
    width: 80%;
    height: auto;
    margin: 0px 30px;
    list-style: none;
    text-align: center;
    /* background-color: blue; */
    /* border: 2px solid black; */

}

.servicios li h2 {
    padding: 25px 0;
}

.img-services {
    width: 80%;
    height: auto;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: .8s;
}
.img-services:hover{
    transform: scale(1.1);
    border: 5px double white;
}

.producto-description {
    padding: 20px 0;
    width: 80%;
    /* background-color: red; */
}


/**-----------------------*/
